[tool_vision]
# 1. Cấu hình Công tắc đo Z (Microswitch)
pin: ^PF2                    # Pin cắm công tắc
z_switch_x: 68.0             # Tọa độ X của công tắc
z_switch_y: -1.0             # Tọa độ Y của công tắc
z_switch_z: 7.0              # Tọa độ Z an toàn của công tắc
z_clearance: 2.0             # Nhấc đầu in lên bao nhiêu mm trước khi nhấn
z_samples: 3                 # Số lần đo Z để lấy trung bình
z_speed: 15.0                # Tốc độ di chuyển trục Z (mm/s)

# 2. Cấu hình Camera đo XY
camera_x: 0.0                # Tọa độ X nháp của Camera (Sẽ được thay thế tự động nếu cần)
camera_y: 0.0                # Tọa độ Y nháp của Camera
vision_server_url: http://127.0.0.1:8085
camera_stream_url: http://127.0.0.1:8080/?action=stream
move_speed: 100.0            # Tốc độ di chuyển XY (mm/s)
