############################################################################
# PROBE-MESH.CFG — Cartographer, ADXL345, Bed Mesh, Axiscope
# Cấu hình đầu dò Cartographer và các tính năng nội suy lưới bàn
# ⚠️ Phải include SAU calibration.cfg
############################################################################

#####################################################################
# Cartographer (CAN bus)
#####################################################################

[cartographer]
mcu: cartographer
x_offset: 0                # Lệch X của Coil so với Nozzle
y_offset: 35               # Lệch Y của Coil so với Nozzle
verbose: no

#####################################################################
# Bed Mesh
#####################################################################

[bed_mesh]
# Lưu ý: Tọa độ mesh là tọa độ Đầu dò (Probe), không phải Nozzle
# Zero reference tại giữa bàn in
zero_reference_position: 170, 203
speed: 600
horizontal_move_z: 3
mesh_min: 20, 45           # Tránh kẹp bàn in ở mép
mesh_max: 320, 325
probe_count: 55, 55
adaptive_margin: 10
mesh_pps: 0,0

#####################################################################
# ADXL345 (Cartographer)
#####################################################################

[adxl345]
cs_pin: cartographer:PA3                # Chip Select ADXL345
spi_bus: spi1                           # SPI kết nối nội bộ Cartographer

[axiscope]
z_backend: cartographer
probe_x_pos: 170
probe_y_pos: 203
reference_tool: 0
lift_z: 10
move_speed: 200
z_move_speed: 10
samples: 1
use_current_z_offsets: False
apply_touch_model_z_offset: False
cartographer_rehome_z_before_touch: True
config_file_path: ~/printer_data/config/printer.cfg

touch_home_gcode: CARTOGRAPHER_TOUCH_HOME
touch_probe_gcode: CARTOGRAPHER_TOUCH_PROBE

start_gcode:
    G28
    T0
    QUAD_GANTRY_LEVEL
    G28 Z

finish_gcode:
    T0

